p {
    text-align: center;
    color:blue;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
}
fieldset
{
background-color: beige;
}

