p {
    text-align: center;
    color:blue;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15px;
    padding-left: 15px;
}
fieldset
{
background-color: beige;
}
.fit-picture {
    position:relative;
    left:37%;
    top:15%;
    width:320px;
    height:270px;
  }

  #container {
background-color: bisque;
margin: 0 auto;
width: 960px;
padding: 10px;

  }

  ul li {
    list-style: none;
    margin-bottom: 5px;
  }
  

